* {
     overflow-x: none;
     
}

.container-row {
    margin-top: 20px;
    
}

.row {
     --bs-gutter-x: 0;
     
}

.div-container {
    max-width: 90%;
    margin: 0 auto;

}

.col-3 {
     width: 32%;
     height: 150px;
    
}

.r-col {
     margin: 0 0 0 auto;
    
}

.experience-div>.col-2 {
     display: inline;
    
}

.certification-div {
     display: flex;
    
}