.popup {
    transform: translate(-50%, -50%);
    position:fixed;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    max-width: 900px;
    height: 100%;
    max-height: 600px;
    overflow-y: auto;
    left:50%;
    top:50%;
    z-index: 999;
    background-color: rgb(255, 255, 255);
  }
  .close-form-button{
    background-color: transparent;
    border:none;
  }
  .items-flex{
    display: flex;
    align-items: center;
    background-color: rgb(227, 234, 235);
    margin:35px;
    border-radius:10px;
    
  }
  .items-flex>img{
    padding:10px;
  }
  .items-flex>h6{
    margin: 0;
    padding: 0;
    margin-left:10px;
  }
  .qualification-items-name>p{
    margin:0;
    padding:0;
    font-size: 12px;
  }
    .qualification-items-name>h6 {
      margin: 0;
      padding: 0;
      font-size: 13px;
    }
  .items-flex-col-img>img{
padding: 10px;
  }
  .title-bts{
    display: flex;
    align-items: center;
}
.buttons{
    margin: 0 0 0 auto;
    
}
.buttons>button{
    border: none;
    background-color: transparent;
}
button>img{
    width:25px;
}
.col-md-4{
    display:flex;
    border-bottom: 1px solid rgb(206, 255, 251);
}
  

   