h2 {
    font-size: 1.75em;
}


.profile-div {
    position: relative;
    display: block;
    max-width: 100%;
    height: 500px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    border-radius: 10px;
}

.prof-pic>img {
    border-radius: 50%;
    max-width:200px;
    max-height:200px;
    border: 2px solid #3c78f0;
    
}

.profile-background-pic {
    height: 200px;
    width: 100%;
    border-radius: 0;
}

.profile-section {
    position: absolute;
    top: 100px;

}

.prof-pic {
    width: 200px;
        height: 200px;
    position: relative;
    max-width: 300px;
    display: grid;
    padding: 20px 40px 10px 60px;

}

.nationality {
    width: 50px;
    height: 30px;
    position: absolute;
    border-radius: 0 !important;
    margin-left: 74px;
    
    margin-top: -20px;

}

.overview {

    width: 100%;
    padding-left: 325px;
    text-align: left;
    
    
}
.overview>h3{
    padding-left:5px;
    padding-bottom:10px;
    color: rgb(71, 71, 71);
}

.prof-buttons {
    display: flex;
    padding: 40px 0 50px 37px;
}

.prof-buttons>button {
    padding: 11px;
    margin: 15px;
    border-radius: 25px;
}
.overview-desc{
    background-color: rgb(227, 234, 235);
    padding: 20px;
    margin-right:20px;
    border-radius: 10px;
}
.buttons{
    display: flex;
    padding:5px 5px 0 5px;
    
}
.mod-btn{
    margin:0 0 0 auto;
    padding:10px 25px;
}
.linkedin-logo{
    min-width: 90px;
    background-color: white;
    border: 1px solid dodgerblue;
}
.github-logo {
    min-width: 90px;
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
}
