.tool-element-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  .tool-element {
    width: 100px;
    height: 120px;
    padding: 10px;
    box-sizing: border-box;
    margin: 0 auto;
    align-items: center;
  }
  
  .tool-element-image {
    width: 50%;
    max-width: 40px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .tool-element-label {
    display: block;
    text-align: center;
    margin-top: 10px;
  }
  